#root {
  height: 100%;
  width: 100%
}

.App {
  display: grid;
  grid-template-columns: 15% 85%;
  /* grid-template-rows: 90% 10%; */
  padding: 2rem 0 0 4rem;
  width: 100vw;
}

nav {
  display: flex;
  position: fixed;
  justify-content: space-around;
  flex-direction: column;
  height: 95vh;
}

.nav-icons {
  display: flex;
  justify-content: space-around;
}

footer {
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
