:root {
  --accent-text-over: #ffffff;
  --text-md: 1rem;

  --accent-regular: pink;
  --accent-dark: rgb(172, 119, 182);
	--accent-light: white;

  /* Gradients */
	--gradient-stop-1: var(--accent-light);
	--gradient-stop-2: var(--accent-regular);
	--gradient-stop-3: var(--accent-dark);
	--gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 150%);
	--gradient-accent: linear-gradient(
		150deg,
		var(--gradient-stop-1),
		var(--gradient-stop-2),
		var(--gradient-stop-3)
	);
}

#root {
  height: 100%;
  width: 100%
}

html {
  scroll-behavior: smooth;
}

.App {
  display: grid;
  grid-template-columns: 15% 85%;
  /* grid-template-rows: 90% 10%; */
  width: 100vw;
  max-width: 100%;
}

nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  padding: 2rem 0 0 2rem;
}

.nav-icons {
  display: flex;
  justify-content: space-around;
}

footer {
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.stack {
	display: flex;
	flex-direction: column;
}

.projects-section {
  align-items: center;
}

@media (max-width: 820px) {
  .App{
    display: flex;
    width: 100%;
  }

  nav {
    height: 8vh;
    flex-direction: row;
  }

}