.about{
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

.about-text {
  width: 50vw;
  text-align: center;
  color: white;
}