.about{
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

.about-text {
  width: 50vw;
  text-align: justify;
  text-justify: inter-word;
  color: white;
}

@media only screen and (max-width: 600px) {
  
  .about-text{
    width: 100%;
  }
  
}