.experience-flex {
    display: flex;
    justify-content: space-around;
}

.experience {
    width: 20vw;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.experience > img {
    border-radius: 1rem;
}

@media only screen and (max-width: 600px) {
    
    .experience-flex {
        flex-direction: column;
    }

    .experience {
        width: 80vw;
        margin: auto;
        margin-bottom: 2rem;
    }
    
}