.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem;
    width: 70vw;
    margin: auto;
  }
  
  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 27vw;
    height: 72vh;
    margin-bottom: 1rem;
  }
  
  .project-img {
    width: 420px;
    height: 240px;
    object-fit: cover;
    align-self: auto;
  }

@media (max-width: 50em) {
  .projects {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
  }

  .project {
    width: 100vw;
  }
}