.menu-footer {
  --icon-size: var(--text-xl);
  --icon-padding: 0.5rem;

  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 1.5rem 2rem 1.5rem 1.5rem;
  background-color: var(--gray-999);
  border-radius: 0 0 0.75rem 0.75rem;
  box-shadow: var(--shadow-lg);
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  font-size: var(--icon-size);
}

.social {
  display: flex;
  padding: var(--icon-padding);
  text-decoration: none;
  color: var(--accent-dark);
  transition: color var(--theme-transition);
}

a svg {
    height: 2rem;
    width: 2rem;
}

.social:hover,
.social:focus {
  color: var(--accent-text-over);
}
