@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(/background.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen {
  body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
  }
}